.bg-header-left{
    background-color: #222A36;
   padding-left: 118px;
   padding-top: 175px;
}
.bg-header-right{
    background-image: url("../assets/Foto.JPG");
    background-repeat:no-repeat;
    background-size: cover; 
}
.bg-header-left,.bg-header-right{
    height: 743px;
}
.site-header {
    margin-top: -60px;
}
.header-title {
    font-size: 90px;
    color: white;
}
.header-subtitle {
    font-size: 20px;
    color: #FFFFFF;
    text-align: justify;
}
.bg-logo {
    background-color: black;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skill-sec {
    background-color: #222A36;
    height: 659px;
}
.skill-text-1 {
    font-size: 100px;
    color: #fffb00;
}
.skill-text-2 {
    font-size: 40px;
    color: white;
}
.box-1 {
    background-color: #676CDB;
}
.box-2 {
    background-color: #00ff6e;
}
.box-3{
    background-color: #ff0000;
}
.box-1,.box-2,.box-3 {
    height: 300px;
    width: 300px;
    padding-left: 30px;
    padding-bottom: 37px;
}
.inner-box {
    width: 106px;
    height: 87px;
}
.skill-wrap {
    padding-top: 100px;
}
.about-wrap {
    padding-top: 100px;
}
.text-about {
    text-align: justify;
}
.text-about-achv {
     font-size: 30px;
     color: white;
     
}
.number-about {
    color: #fffb00;
    font-size: 50px;
}
.box-about-1,.box-about-2,.box-about-3 {
    margin-bottom: 30px;
}
.footer-wrap {
    padding-top: 100px;
}
.footer-sec {
    height: 750px;
}
.footer-logo {
    margin-top: 40px;
}